.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.footer {
  background: #F15025;
  color: rgba(51, 50, 50, 1);
  height: 90%;
  width: 100%;
  position: static;
  overflow: auto;
}
.footer .footer-bottom {
  background: #F0E100;
  color: rgba(51, 50, 50, 1);
  height: 50px;
  width: 100%;
  text-align: center;
  position: fixed;
  bottom: 0px;
  left: 0px;
  padding-top: 20px;
  display: table-row;
}
.footer .footer-content {
  border: 2px solid #009DAF;
  height: 350px;
  display: flex;
  overflow: auto;
}
.footer .footer-content .footer-section {
  flex: 1;
  padding: 25px;

  

}
.footer-section-about{
  width: 500px;
  height: 150px;
}
.footer-section-links {
  width: 250px;
  height: 150px;
}
.footer-section-links ul li {
  list-style: none;
  display: inline-block;
}

.footer-content{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

.navbar {
  background: #F15025;
  border: 2px solid #009DAF;
}

.html, .body {
  height: 100%;

}
.footer-section-about h1 {
  margin-left: 45px;
}

.logo-text {
  color: #009DAF;
  border: 2px solid #F0E100;
  font-family: Chalkduster,fantasy;
  background: #282c34;
  font-size: 20px;
}

.logo-text2 {
  color: #F0E100;
  border: 2px solid #009DAF;
  font-family: Chalkduster,fantasy;
  background: #282c34;
  font-size: 20px;
}

.footer-section-links .fa {
  font-size: 70px;
  color: #009DAF;
}

.footer-text {
  font-size: 10pt;
  color: black;
  font-family: 'Barlow', sans-serif;
  font-weight: bold;
}



.nav-item {
  color: rgba(51, 50, 50, 1);
  font-family: 'Barlow', sans-serif;
  font-weight: bold;
}

.nav-link {
  color: rgba(51, 50, 50, 1);
  font-family: 'Barlow', sans-serif;
  font-weight: bolder;
}

#update {
  font-size: 10pt;
  padding: 30px;
  text-align: center;
  width: 100%;
  margin-top: 50px;
}


.footWraper {
  padding: 20px;
  height: auto;
  width: 100%;
 
}

.fa-facebook-square {
  display: block;
}

.fa-instagram {
  display: block;
}

.footer-section-links {
  margin-bottom: 100px;
  height: 90px;
  width: 90px;
}


.item-list {
  display: inline-block;
  padding: 30px;
  
}



.list-item-1 {
font-family: Chalkduster,fantasy;
text-align: center;
font-size: 50pt;
padding-top: 100px;
padding-bottom: 60px;
overflow-y: scroll;
}
.dropdown-menu {
  color: rgba(51, 50, 50, 1);
  border: 2px solid #009DAF;
  background-color: #F15025;
  font-family: Chalkduster,fantasy;
}
.list-group-item {
  color: rgba(51, 50, 50, 1);
  background-color: #F15025;
  font-family: Chalkduster,fantasy;
}

.col {
  padding: 30px;
  width: 500px;
  font-family: Chalkduster,fantasy;
}




h1 {
  font-family: Chalkduster,fantasy;
  
}


.btn {
  margin: 30px;
  
}
.contacth1 {
  text-align: center;
  color: #009DAF;
  padding: 35px;
  margin-left: 33%;
}

.commentBoxes {
  display: block;
  align-content: center;
  
 
}


div li {
list-style-type: none;

}


#picArt {
 padding: 50px;

  
}
.logocontainer {
  overflow: hidden;
  background-color: #f1f1f1;
  padding: 20px 10px;
}

.logocontainer span {
  float: left;
  color: black;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  line-height: 25px;
  border-radius: 4px;
}

.drip-header1 {
  color: #009DAF;
  border: 2px solid #F0E100;
  font-family: Chalkduster,fantasy;
  font-size: 50px;
  font-weight: bold;
}

.drip-header2 {
  color: #F0E100;
  border: 2px solid #009DAF;
  font-family: Chalkduster,fantasy;
  font-size: 50px;
  font-weight: bold;
}

.header-container {
  display: flex;
justify-content: center;
  overflow: hidden;
  background-color: #050609;
  padding: 75px 10px;

}

.titlespace {
  padding: 100px;
}

.container-form {
  display: table;
  width: 60%;
 border: solid #F0E100 5px;
  padding: 50px;
  margin: 80px;
  text-align: center;

}

.card {
  margin-left: 40pt;
  border: 1px solid rgba(247, 178, 173, 1);
  background: rgba(240, 225, 0, 1);
 
}
.item-list {
  display: inline-block;
  padding: 30px;
  
}

.card-text {
  max-width: 260px;
  font-family: 'Barlow', sans-serif;
  text-shadow: 2px 2px  gray ;
  font-weight: bold;
}

.list-item-1 {
font-family: Chalkduster,fantasy;
text-align: center;
font-size: 50pt;
padding-top: 100px;
padding-bottom: 60px;
overflow-y: scroll;
}
.list-group-item {
  color: rgba(51, 50, 50, 1);
  border: 2px solid #009DAF;
  background-color: rgba(232, 238, 242, 1);
  font-family: Chalkduster,fantasy;
}

.card {
  border: 3px solid #F0E100;
  background: #F15025;
  width: 18rem;
  margin: 20px;
  box-shadow: 5px 10px #888888;
}

.card-text {
  max-width: 260px;
}

.card-container {
  margin: 20px;
  display: flex; 
  justify-content: center;
  flex-wrap: wrap;

}

.price-sort {
padding: 30px;
text-align: center;

}

button {
  display: inline-block;
}

.button1 {
  color: #009DAF;
  border: 2px solid #F0E100;
  font-family: Chalkduster,fantasy;
  background-color: #282c34;
}

.button2 {
  color: #F0E100;
  border: 2px solid #009DAF;
  font-family: Chalkduster,fantasy;
  background-color: #282c34;
}

.twitter {
  height: 50px;
  width: 50px;
  border: solid 1px #F0E100;
  background-color: #009DAF
}

.instagram {
  height: 50px;
  width: 50px;
  border: solid 1px #F0E100;
  background-color: #009DAF
}

.facebook {
  height: 50px;
  width: 50px;
  border: solid 1px #F0E100;
  background-color: #009DAF
}
.footerimage-container {
  padding: 5px;
}


.footer-image{
  width: 145px;
  height: 145px;
  border: solid 1px #F0E100;
  border-radius: 50%;
  margin-bottom: 50px;
}



.piece {
  color: #009DAF;
  text-align: center;
  padding: 13px;
  font-size: 10pt;
}

.adminTable {
    width: 100%;
    justify-content: space-between;
    padding: 50PX;
}

table {
  display: flex;
    width: 100%;
    justify-content: center;
    padding: 50PX;
}

.labels {
  text-align: center;
  padding: 10px;
  color: #6c757d!important;
}

.item-container {
  border: 1px solid rgba(240, 225, 0, 1);
  display: flex;
  padding: 10px;
}

.delete-button {
  background: #009DAF;
  border-radius: 5px;
  border: none;
color: white;
}

.delete-button:hover {
  background: red;
}

.header-admin {
  padding-top: 100px;
  width: 100%;
  color: #009DAF;
}

.log-in {
  padding-top: 100px;
  width: 100%;
  color: #009DAF;
}

.login-container {
  display: flex;
  justify-content: center;
  border: solid 1px #F0E100;
}

.form-box {
  padding: 20px;
}

.form-control {
  border-bottom: 5px solid #09d3ac;
}

.icons {
  padding: 10px;
}
