p {
    
	width: fit-content;
	margin-left: 10px;
}

body {
	background-color: #050609;
	
}

.header-drip {
    font-family: Chalkduster,fantasy;
    color: #009DAF;
	padding: 50px;
	margin-left: 33%;
}


h1{
	text-align: center;
	width: fit-content;
}

#picArt {
width: 100px;
height: 1000px;

}

.carousel-inner {

	display: block;
	margin: 0 auto;
	padding-bottom: 20px;
}