.navbar {
    background: #F15025;
    border: 2px solid #009DAF;
}

.html, .body {
    height: 100%;

}

.logo-text {
    color: #009DAF;
    border: 2px solid #F0E100;
    font-family: Chalkduster,fantasy;
}

.logo-text2 {
    color: #F0E100;
    border: 2px solid #009DAF;
    font-family: Chalkduster,fantasy;
}

.footer-section-links .fa {
    font-size: 70px;
    color: #009DAF;
}

.nav-item {
    color: rgba(51, 50, 50, 1);
}

.nav-link {
    color: rgba(51, 50, 50, 1);
}
#update {
    font-size: 10pt;
    padding: 30px;
    text-align: center;
    width: 100%;
    margin-top: 50px;
    font-family: Chalkduster,fantasy;
}

